/* Navbar */
.navbar{
    display: flex;
    background-color: white;
    align-items: center;
    padding: 8px 16px;
    width: 100%;
    box-shadow: 1px 1px 6px 1px var(--grey-0);
    position: fixed;
    z-index: 1000;
    top: 0;
    box-sizing: border-box;
}
.company__logo{
    height: 60px;
}

.navbar__content{
    display: flex;
    align-items: center;
    flex-grow: 1;

}
#navbar__logo:hover{    
    cursor: pointer;
    align-items: center;
}

.navbar__options{
    flex-grow: 1;
}

.navbar__options li{
    list-style: none;
    display: inline;
    padding: 4px  8px;
    text-decoration: none;
}

.navbar__options li a{
    text-decoration: none;
    color: var(--grey-4);
}

.navbar__options .selected a{
    color: var(--primary-color);
}

.navbar__content #btn_search_product{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.navbar__content #btn__nav__cart{
    margin: 0 16px;
}

.navbar__content #username__nav{
    margin-right: 16px;
}

.navbar__content #userprofile__nav{
    display: inherit;
    align-items: inherit;
}

.navbar__content #btn__signin__nav{
    margin-right: 8px;
    text-decoration: none;
}



/* Product List */
#product_list__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px 30px;
    margin: 12px;
    
}

/* Product Card */
.product{
    background-color: white;
    border: 1px solid var(--grey-1);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.product:hover{
    cursor: pointer;
    scale: 1.03;
    box-shadow: 0px 0px 4px 2px var(--grey-0);
    transition: scale 0.2s;
}

.product img[alt='product']{
    width: 100%;
    height: 200px;
    object-fit: contain;
    /* background-color: #F1F1F1; */
    background-color: var(--grey-0);
}

.product .product__rating{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(5, 181, 64);
    color: white;
    padding: 4px 10px;
    margin: 8px;
    border-radius: 100px;
    font-size: 14px;
}

.product .product__rating img{
    height: 16px;
    width: 16px;
}

.product .product_info{
    padding: 0px 12px;
}

.product_info .product__title{
    font-size: 17px;
    color: var(--grey-4);
    font-weight: bold;
    
}

.product_info .product__tag{
    font-size: 12px;
    color: var(--grey-3);
    font-weight: bold;
}

.product_info .product__description{
    font-size: 14px;
    color: var(--grey-4);
}

.product_info .product__price{
    margin: 8px 0;
}

/* Pagination */
#pagination__controls{
    text-align: center;
    padding: 24px;
}

#pagination__controls  button{
    background-color: white;
    border:1px solid var(--grey-3);
    padding: 12px;
    margin: 0 2px;
    line-height: 0;
}

#pagination__controls  button.selected{
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
    color: wheat;
}


#pagination__controls  button:hover{
    cursor: pointer;
}

/* Footer */
footer{
    background-color: black;
    font-size:14px;
    padding:60px 0 10px;
}

.footer__container{
    padding: 12px;
    width: 90vw;
    max-width: 1100px;
}

.footer__row{
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 2fr 1fr;
    /* grid-template-columns: auto auto auto; */
}

.footer__col a{
    display: block;
    padding: 4px;
    text-decoration: none;
    color: var(--grey-1);
    
}
.footer__container hr{
    margin: 60px 0;
}

.footer__social_handles img{
    height: 30px;
    width: 30px;
    margin: 6px;
    border: 1px solid white;
    border-radius: 100px;
    overflow: hidden;
    object-fit: center;
    background-color: white;
}

.footer__container #copyright{
    text-align: center;
    margin-top: 40px;
    color: var(--grey-2);
    font-size: 12px;
}


@media screen and (max-width:481px){
    #product_list__container{
        grid-template-columns: auto;
    }
}

@media screen and (min-width:481px)  and (max-width:768px) {
    #product_list__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width:769px)  and (max-width:1024px) {
    #product_list__container{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width:1025px)  {
    
}

@media screen and (max-width:1025px)  {
    
    #footer__col1{
        grid-column: 1 / 5;
        text-align: center;
        margin-bottom: 20px;
    }
    #footer__col2{
        grid-column: 1 / 3;
    }
    #footer__col3{
        grid-column: 3 / 5;
    }

}




